<!doctype html>
<html>
<head>
    <title>condo3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<a href="https://github.com/sue445/condo3"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                condo3
            </h1>
            <h2 class="subtitle">
                condo3は <a href="https://connpass.com/">connpass</a> と <a href="https://www.doorkeeper.jp/">Doorkeeper</a> のグループのイベント情報をiCalendarやAtomで取得するためのサイトです
            </h2>
        </div>
    </div>
</section>

<div id="app">
    <app></app>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; <a href="https://github.com/sue445">@sue445</a> 2019- </p>
    </div>
</footer>

</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/public/js/build.js"></script>
</html>
